:root {
--background-color: #D3D3D3;
--link-color: #00675c;
--link-color-active: #ed6661;
--link-color-visited: #da80f9;
--body-insert-text: #f5cd2e; 
--body-insert-background: #000000;
--table-background-header: #ADA9A9;
--table-background-body: #E9E7E7;
--table-border: #808080;
--sun-ani-start: #edc655;
--sun-ani-mid: #fcffad;
--sun-ani-end: #f76414;
--white-text: #ffffff;
--project-blue: #30448a;
}
/* general stylings --------------------------------------------- */

*{
    box-sizing: border-box;
}

body {
    font-family:'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color:var(--background-color);
    padding: 10px;
    padding-top: 120px;
  }
  
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 24px;
    font-weight: 700;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 700;
  }

/* Site Header --------------------------------------------- */

.page-header {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: var(--white-text);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.nav-list {
    list-style-type: none;
}

.nav-list li {
    display: inline-block;
    margin-left: 15px;
}

.site-logo {
    height: 100px;
}

/* Site Footer --------------------------------------------- */ 

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* home page --------------------------------------------- */

.profile {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.profile__portrait {
    float: left;
    margin-right: 20px;
    height: 400px;
    width: 300px;
    border-radius: 25%;
}

.body__insert{
    font-family: monospace;
    color: var(--body-insert-text); 
    background-color: var(--body-insert-background);
    padding: 0 4px;
}

/* about me page  --------------------------------------------- */

.about-me__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.about-me__table{
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    text-decoration: underline;
    background-color: var(--table-background-header);
}

th, td {
    border: 1px solid var(--table-border);
    padding: 5px;
}

td {
    background-color: var(--table-background-body);
}

.balt-skyline {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

@keyframes color-change {
    0% {
        fill: var(--sun-ani-start);
    }
    50% {
        fill: var(--sun-ani-mid);
    }
    100% {
        fill: var(--sun-ani-end);
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    0% {
        transform: translate(0,50px);
    }
    100% {
        transform: translate(200px, 50px)
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    0% { 
        transform: translate(446px, 48px);
    }
    100% {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* links and buttons --------------------------------------------- */

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color-visited);
}

a:active {
    color: var(--link-color-active);
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

button, .button{
    border:none;
    font-family: inherit;
    background-color: var(--link-color);
    color: var(--white-text);
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    transition: opacity .3s;
}

button:hover, .button:hover {
    opacity:.8;
    cursor: pointer;
}

/* contact page --------------------------------------------- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/* work page --------------------------------------------- */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    color: var(--white-text);
}

.grid__item {
    background-color: var(--project-blue);
    text-align: center;
    padding: 20px;
}

.grid-header {
    text-align: center;
    text-decoration: underline;
}

.portfolio_item_image {
    width: 99%;
    aspect-ratio: 16 / 9;
    transition: all 0.3s ease;
}

.portfolio_item_image:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.portfolio_item_image:active {
    opacity: 0.6;
    transform: scale(0.95)
}

/* portfolio pages ------------------------------------------- */
#project_header {
    border-bottom: 4px solid var(--project-blue);
    padding-bottom: 0px;
    margin-bottom: 20px;
}

#project_header h1 {
    color: var(--project-blue);
    margin: 0;
}

.project_description {
    margin-bottom: 40px;
}

.project-image-container {
    text-align: center;
}
#project_sample_image {
    width: 90%;
    aspect-ratio: 16 / 9;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

/* media queries --------------------------------------------- */

@media all and (max-width: 800px) {
    .grid{
    grid-gap: 10px;
    }
.grid__item:last-child {
    grid-column: auto/ auto;
    grid-row: auto/auto; 
    }
}

@media all and (max-width:500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width:500px) and (max-width:800px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}